.block-card {
  position: relative;
  perspective: 150rem;
  height: 52.3rem;
  .card-wrapper {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($color: $color_black, $alpha: 0.15);
    &.card-wrapper--front {
      background-color: $color_white;
      .card-wrapper-image {
        position: relative;
        width: 100%;
        height: 23rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(0% 100%, 100% 90%, 101% -1%, 0% -1%);
        -webkit-clip-path: polygon(0% 100%, 100% 90%, 101% -1%, 0% -1%);
        background-blend-mode: screen;
      }
      .card-details {
        padding: 3rem;
        ul {
          li {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            &:not(:last-child) {
              border-bottom: 1px solid rgba($color: $color_6, $alpha: 0.15);
            }
          }
        }
      }
    }
    &.card-wrapper--back {
      transform: rotateY(180deg);
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .card-wrapper-price {
        display: flex;
        flex-flow: column;
        text-align: center;
        margin-bottom: 8rem;
        .card-price {
          color: $color_white;
          text-transform: uppercase;
          &.card-price--only {
            font-size: 1.4rem;
          }
          &.card-price--value {
            font-size: 6rem;
            font-weight: 100;
          }
        }
      }
    }
  }
  &:hover {
    .card-wrapper {
      &.card-wrapper--front {
        transform: rotateY(-180deg);
      }
      &.card-wrapper--back {
        transform: rotateY(0);
      }
    }
  }
  /*Change the colors*/
  &.card-orange {
    .card-wrapper {
      &.card-wrapper--front {
        .card-wrapper-image {
          background-image: linear-gradient(to right bottom, $color_light_orange, $color_dark_orange),
            url(../../images/nat-5.jpg);
        }
      }
      &.card-wrapper--back {
        background-image: linear-gradient(to right bottom, $color_light_orange, $color_dark_orange);
      }
    }
  }
  &.card-green {
    .card-wrapper {
      &.card-wrapper--front {
        .card-wrapper-image {
          background-image: linear-gradient(to right bottom, $color_3, $color_5), url(../../images/nat-5.jpg);
        }
      }
      &.card-wrapper--back {
        background-image: linear-gradient(to right bottom, $color_3, $color_5), url(../../images/nat-6.jpg);
      }
    }
  }
  &.card-blue {
    .card-wrapper {
      &.card-wrapper--front {
        .card-wrapper-image {
          background-image: linear-gradient(to right bottom, $color_light_blue, $color_dark_blue),
            url(../../images/nat-7.jpg);
        }
      }
      &.card-wrapper--back {
        background-image: linear-gradient(to right bottom, $color_light_blue, $color_dark_blue);
      }
    }
  }
}