.block-composition {
  position: relative;
  min-height: 40rem;
  .composition-image {
    position: absolute;
    width: 55%;
    box-shadow: 0 0.5rem 2rem rgba($color: $color_2, $alpha: 0.4);
    border-radius: 0.2rem;
    outline-offset: 2rem;
    transition: all 0.2s;
    &.composition-image--first {
      left: 0;
      top: 0;
    }
    &.composition-image--second {
      right: 0;
      top: 4rem;
    }
    &.composition-image--third {
      left: 20%;
      top: 13rem;
    }
    &:hover {
      outline: 1.5rem solid $color_4;
      transform: scale(1.2) !important;
      z-index: 1;
      box-shadow: 0 1rem 4rem rgba($color: $color_2, $alpha: 0.5);
    }
  }
  &:hover {
    .composition-image:not(:hover) {
      transform: scale(0.95);
    }
  }
}

@include res("md") {
  .block-composition {
    min-height: 25rem;
    .composition-image {
      width: 40%;     
      outline-offset: 0.7rem;
      &:hover {
        outline: 1rem solid $color_4;
        transform: scale(1.01) !important;
      }
      &.composition-image--first {
        left: 0;
        top: 2rem;
      }
      &.composition-image--second {
        right: 0;
        top: 2rem;
      }
      &.composition-image--third {
        left: 31%;
        
        top: 1rem;    
      }
    }
  }
}
