.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.overflow-hidden {
	overflow: hidden;
}

/*Margin Top*/
.mt-100{ margin-top: 10rem; }

/*Margin bottom*/
.mb-15{ margin-bottom: 1.5rem; }
.mb-20{ margin-bottom: 2rem; }
.mb-40{ margin-bottom: 4rem; }
.mb-80{ margin-bottom: 8rem; }