.layout-footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: $color_dark_grey;
  .footer-content-line {
    border-top: 1px solid rgba($color: $color_1, $alpha: 0.3);
    padding-top: 2rem;
  }
  .footer-logo-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    max-width: 15rem;
  }
  .footer-list {
    display: flex;
    justify-content: space-between;
    .footer-item {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      .footer-link {
        &:link,
        &:visited {
          display: inline-block;
          color: $color_1;
          text-transform: uppercase;
          transition: all 0.2s;
          text-align: center;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-wrapper-copyright-text {
    .footer-link {
      &:link,
      &:visited {
        display: inline-block;
        color: $color_1;
        transition: all 0.2s;
      }
      &:hover,
      &:active {
        color: $color_4;
        box-shadow: 0rem 1rem 2rem rgba($color: $color_2, $alpha: 4);
        transform: rotate(5deg) scale(1.05);
      }
    }
  }
}

@include res("lg") {
  .layout-footer {
    .footer-logo-wrapper {
      margin-bottom: 4rem;
    }
    .footer-list {
      margin-bottom: 5rem;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      .footer-item {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
