.layout-header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba($color: $color_3, $alpha: 0.8), rgba($color: $color_5, $alpha: 0.8)),
    url(../../images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  .header__logo-wrapper {
    position: absolute;
    top: 4rem;
    left: 4rem;
    .header__logo {
      height: 3.5rem;
    }
  }
  .header__text-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    .styled-as-h1 {
      backface-visibility: hidden;
      .styled-as-h1--main {
        animation: moveInLeft 1s ease-in-out;
      }
      .styled-as-h1--sub {
        animation: moveInRight 1s ease-in-out;
      }
    }
  }
}

@include res('md'){
  .layout-header {
    height: 80vh;
    .header__text-wrapper {
      top: 35%;
    }
  }
}