/*
btn:link    --> Not visited link state
btn:visited --> Visited link state
*/
.btn:link,
.btn:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  &:active {
    transform: translateY(-.5rem);
  }
  &.btn--animated {
    animation: moveButton 1s ease-in-out 0.5s;
    animation-fill-mode: backwards;
  }
}
