.block-about{
  background-color: $color_light_grey;
  padding-top: 25rem;
  padding-bottom: 25rem;
  margin-top: -25vh;
  .about-wrapper-content{
    .about-wrapper-content-text{
      &:not(:last-child){
        margin-bottom: 3rem;
      }
    }
  }
}